body {
  font-family: Arial;
  padding: 20px;
}

form input, form select, form button {
  margin: 5px;
  padding: 8px;
}

table {
  width: 100%;
  margin-top: 15px;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #333;
  padding: 8px;
}
