body {
    font-family: Arial;
    margin: 20px;
}

nav a {
    margin-right: 10px;
    text-decoration: none;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #aaa;
    padding: 8px;
}

button {
    padding: 5px 10px;
    cursor: pointer;
}

form {
    max-width: 400px;
}

input, select {
    width: 100%;
    margin-bottom: 10px;
    padding: 6px;
}
